<div class="container">
    <div class="row-fluid">
        
          
          <div class="span8">
              <h6>User Name: {{userData.username}}</h6>
              <h6>Name: {{userData.fullname}}</h6>
              <h6>Email: {{userData.email}}</h6>
              <h6>Phone: {{userData.phone}}</h6>
          </div>
         
  </div>
  </div>
