<div class="container">
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Login Account</h4>
     
      <form>
          <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
               </div>
                  <input  class="form-control" placeholder="User name" required name="userId" type="text" [(ngModel)]="login.userId" #userId="ngModel"
                  pattern="^[6-9][0-9]{9}$|^[a-zA-Z ]|^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
              </div>
              <div *ngIf="userId.invalid && (userId.dirty || userId.touched)" class="validation">
                  <p class="validation" *ngIf="userId.errors.required"> Enter Email / Mobile is required</p>
                  <p class="validation" *ngIf="userId.errors.pattern">Enter Valid Enter Email / Mobile</p>
                </div> 
      
     
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
            <input class="form-control" placeholder="password" type="password" name="password" required [(ngModel)]="login.password" #password="ngModel">
        </div> 
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation">
            <p class="validation" *ngIf="password.errors.required">password is required</p>
        
          </div> <!-- form-group// -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="submit()">Submit</button>
        </div> <!-- form-group// -->   
 
        <p class="text-center">If you Don't Have an account? <a href="" routerLink="/signup">Create Account</a> </p>                                                                 
    </form>
    </article>
    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
    
  
