<div class="container">
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
     
      <form>
          <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
               </div>
                  <input name="username" class="form-control" minlength="3" maxlength="20" placeholder="User name" required type="text" [(ngModel)]="signup.username" #username="ngModel">
              </div> 
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="validation">
                  <p *ngIf="username.errors.required">First Name is required</p>
                  <p *ngIf="username.errors.pattern">Enter Valid First Name</p>
                  <p *ngIf="username.errors.minlength">name should be minimum 3 characters</p>
                  <p *ngIf="username.errors.maxlength">name should be maximum 20 characters</p>
                </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input name="fullname" class="form-control" placeholder="Full name"  pattern="[a-zA-Z ]*" minlength="3" maxlength="20" type="text" [(ngModel)]="signup.fullname" #fullname="ngModel" required>
        </div>
        <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="validation">
            <p *ngIf="fullname.errors.required">First Name is required</p>
            <p *ngIf="fullname.errors.pattern">Enter Valid First Name</p>
            <p *ngIf="fullname.errors.minlength">name should be minimum 3 characters</p>
            <p *ngIf="fullname.errors.maxlength">name should be maximum 20 characters</p>
          </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
         </div>
         <div>
            <input name="email" class="form-control" placeholder="Email address" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="signup.email" #email="ngModel" required>
         </div>
         <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation">
            <p *ngIf="email.errors.required">Email Id is required</p>
            <p *ngIf="email.errors.pattern">Enter Valid Email Id</p>
          </div>
           
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
          <input name="phone" class="form-control" placeholder="Phone number" type="text" maxlength="10" pattern="^[6-9][0-9]{9}$" [(ngModel)]="signup.phone" #phone="ngModel" required>
        </div>
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="validation">
            <p *ngIf="phone.errors.required">Mobile Number is required</p>
            <p *ngIf="phone.errors.pattern">Enter Valid Mobile Number</p>
          </div> <!-- form-group// -->
     
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
            <div>
            <input name="password" class="form-control" placeholder="Create password"  minlength="8" type="password" [(ngModel)]="signup.password" #password="ngModel" required>
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation">
                  <p *ngIf="password.errors.required"> password is required</p>
                  <p *ngIf="password.errors.minlength">password minlength is 8</p>
                 
                </div>
          </div> 
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <div>
            <input class="form-control" placeholder="confirm password" type="password" name="cnfPassword" [(ngModel)]="signup.cnfPassword" #cnfPassword="ngModel" validateEqual="password">
        </div>
        <p class="validation" *ngIf="signup.cnfPassword!=signup.password && (cnfPassword.dirty || cnfPassword.touched)">Password and Confirm Password should match</p>
       
           
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="submit()"> Create Account  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a href="" routerLink="/login">Log In</a> </p>                                                                 
    </form>
    </article>
    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
    
  
